@use "../../global" as *;

.p-price-nav {
  padding: 80px 0 100px;
  background: $color-white;

  @include mq($bp768) {
    padding: 40px 0 50px;
  }

  &__box {
    max-width: 500px;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid $color-black;

    @include mq($bp768) {
      padding: 20px;
    }

    @include mq($bp640) {
      padding: 16px 8px;
    }
  }

  &__list {
    display: grid;
    gap: 20px;
  }

  &__link {
    position: relative;
    display: inline-flex;
    align-items: center;
    color: $color-black;
    font-size: rclamp(15, 20, 360, 1920);
    font-weight: 700;
    transition: opacity 0.3s ease;

    &::before {
      content: "・";
      color: $color-black;
    }

    &::after {
      content: "";
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-left: 10px solid $color-orange;
      flex-shrink: 0;
      margin-left: 8px;
      @include mq($bp640) {
        margin-left: 5px;
      }
    }

    @media (any-hover: hover) {
      &:hover {
        opacity: 0.7;
      }
    }

    @include mq($bp640) {
      gap: 1px;

      &::after {
        border-top-width: 7px;
        border-bottom-width: 7px;
        border-left-width: 9px;
      }
    }
  }

  &__item {
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4) {
      .p-price-nav__link::after {
        margin-left: 0;
        @include mq($bp640) {
          margin-left: -2px;
        }
      }
    }
  }
}
