@use "../../global" as *;

.p-price-cross-rebody {
  margin-top: 80px;
  background: $color-white;

  @include mq($bp768) {
    margin-top: 40px;
  }

  &__inner {
    max-width: 900px;
    margin: 0 auto;
  }

  &__title {
    padding-bottom: 8px;
    border-bottom: 3px solid $color-orange;
    font-size: rclamp(18, 33, 360, 1920);
    font-weight: 700;

    span {
      margin-right: 4px;
    }
  }

  &__lead {
    margin-top: 16px;
    font-size: rclamp(15, 18, 360, 1920);
    font-weight: 500;
    line-height: 2;
    @include mq($bp768) {
      line-height: 1.7;
    }
  }

  &__purpose {
    margin-top: 50px;

    @include mq($bp768) {
      margin-top: 30px;
    }
  }

  &__sub-heading {
    position: relative;
    padding-left: 24px;
    font-size: rclamp(16, 22, 360, 1920);
    font-weight: 700;

    &::before {
      content: "■";
      position: absolute;
      left: 0;
      color: $color-black;
    }
  }

  &__purpose-list {
    display: grid;
    grid-template-columns: 35% 1fr;
    gap: 8px;
    margin-top: 16px;
    margin: 1rem 0 0 1rem;

    @include mq($bp768) {
      grid-template-columns: 1fr;
      gap: 6px;
      margin: 0.5rem 0 0 0.5rem;
    }

    li {
      font-size: rclamp(14, 18, 360, 1920);
      font-weight: 500;

      &::before {
        content: "○";
      }
    }
  }

  &__plans {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-top: 50px;

    @include mq($bp768) {
      grid-template-columns: 1fr;
      gap: 50px;
      margin-top: 30px;
    }
  }

  &__heading {
    position: relative;
    padding-left: 30px;
    font-size: rclamp(16, 22, 360, 1920);
    font-weight: 700;

    &::before {
      content: "";
      position: absolute;
      top: 0.42em;
      left: 0;
      width: 19px;
      height: 19px;
      background: $color-orange;
      @include mq($bp768) {
        width: 16px;
        height: 16px;
      }
    }
  }

  &__price {
    position: relative;
    margin-top: 4px;
    padding-left: 20px;
    font-size: rclamp(15, 22, 360, 1920);
    font-weight: 700;

    span {
      display: inline-block;
      margin-left: 6px;
      padding: 0 4px;
      background: $Bg-orange;
    }

    &::before {
      content: "▶";
      position: absolute;
      left: 0;
      color: $color-black;
    }

    &::after {
      content: "";
      position: absolute;
      left: 22px;
      right: 0;
      bottom: 0;
      height: 0.55em;
      background: $Bg-orange;
      z-index: -1;
    }
  }

  &__table {
    width: 100%;
    margin-top: 36px;
    border-collapse: collapse;
    min-height: 300px;
    @include mq($bp640) {
      min-height: auto;
      margin-top: 20px;
    }

    thead {
      th {
        padding: 8px 16px;
        background: #231815;
        color: $color-white;
        font-size: rclamp(16, 22, 360, 1920);
        line-height: 1.35;
        text-align: left;
        border: 1px solid $color-black;
      }
    }

    tbody {
      th,
      td {
        border: 1px solid $color-black;
        padding: 8px 24px;
        vertical-align: middle;
      }

      th {
        width: 20%;
        font-size: rclamp(15, 20, 360, 1920);
        font-weight: 700;
        text-align: center;
        white-space: nowrap;
      }

      td {
        width: 70%;
      }
    }

    &--semi {
      tbody {
        th {
          width: 28%;
        }

        td {
          width: 72%;
        }
      }
    }
  }

  &__table--semi {
    .p-price-cross-rebody__price-row {
      grid-template-columns: 1fr;
      justify-items: center;
    }

    .p-price-cross-rebody__amount {
      text-align: center;
    }

    .p-price-cross-rebody__comment {
      display: none;
    }
  }

  &__price-row {
    display: grid;
    grid-template-columns: 1fr 150px;
    align-items: center;
    column-gap: 12px;
    @include mq($bp899) {
      grid-template-columns: 1fr 130px;
    }
    @include mq($bp768) {
      grid-template-columns: 100px 1fr;
    }
  }

  &__amount {
    font-size: rclamp(16, 20, 360, 1920);
    font-weight: 700;
    white-space: nowrap;
  }

  &__comment {
    font-size: rclamp(13, 16, 360, 1920);
    font-weight: 700;
    line-height: 1.4;
    text-align: left;
  }

  @include mq($bp640) {
    &__price-row {
      grid-template-columns: 1fr 100px;
    }
  }
  @include mq($bp399) {
    &__price-row {
      grid-template-columns: 1fr 120px;
    }
  }
}
