@use "../../global" as *;

.p-qa-intro {
  padding: 150px 0 0;
  background: $color-white;

  @include mq($bp768) {
    padding: 90px 0;
  }

  &__inner {
    max-width: 600px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    @include mq($bp768) {
      max-width: 500px;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      bottom: -40px;
      width: 150px;
      aspect-ratio: 321 / 441;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      pointer-events: none;

      @include mq($bp1024) {
        width: 120px;
      }
      @include mq($bp768) {
        width: 100px;
      }
      @include mq($bp640) {
        width: 50px;
        bottom: 45px;
      }
    }

    &::before {
      left: -160px;
      background-image: url("../images/qa/qa-intro-left.png");

      @include mq($bp1024) {
        left: -90px;
      }

      @include mq($bp899) {
        left: -70px;
      }

      @include mq($bp640) {
        left: 10px;
      }
      @include mq($bp399) {
        left: -5px;
      }
    }

    &::after {
      right: -160px;
      background-image: url("../images/qa/qa-intro-right.png");

      @include mq($bp1024) {
        right: -90px;
      }
      @include mq($bp899) {
        right: -70px;
      }

      @include mq($bp640) {
        right: 15px;
      }
      @include mq($bp399) {
        right: 5px;
      }
    }
  }

  &__title {
    font-size: rclamp(22, 40, 360, 1920);
  }

  &__lead {
    margin-top: 28px;
    font-size: rclamp(12, 18, 360, 1920);
    line-height: 1.7;

    @include mq($bp768) {
      margin-top: 18px;
    }
  }
}
