@use "../../global" as *;

.p-seminar-change {
  padding: 120px 0;
  background: $Bg-orange;

  @include mq($bp768) {
    padding: 60px 0;
  }

  &__inner {
    max-width: 1200px;
  }

  &__body {
    display: grid;
    grid-template-columns: 350px 1fr;
    align-items: center;
    gap: 50px;

    @include mq($bp768) {
      grid-template-columns: 1fr;
      gap: 30px;
    }
  }

  &__image {
    text-align: center;

    img {
      width: 100%;
      max-width: 360px;
      height: auto;

      @include mq($bp768) {
        max-width: 200px;
      }
    }
  }

  &__list {
    display: grid;
    gap: 14px;
  }

  &__item {
    display: grid;
    grid-template-columns: 8% 20% 5% 1fr;
    align-items: center;
    border: 3px solid $color-orange;
    padding: 12px 22px;
    background: $color-white;

    @include mq($bp768) {
      grid-template-columns: 36px 24% auto 1fr;
      gap: 6px;
      padding: 10px;
    }
    @include mq($bp414) {
      grid-template-columns: 36px 27% auto 1fr;
    }
    @include mq($bp360) {
      grid-template-columns: 36px 29% auto 1fr;
    }
  }

  &__number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    background: $color-orange;
    color: $color-white;
    font-size: rclamp(20, 26, 360, 1920);
    font-weight: 700;

    @include mq($bp768) {
      width: 30px;
      height: 30px;
      font-size: 18px;
    }
  }

  &__before {
    font-size: rclamp(14, 22, 360, 1920);
    font-weight: 500;
    line-height: 1.5;
  }

  &__arrow {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 16px solid $color-orange;

    @include mq($bp768) {
      border-top-width: 9px;
      border-bottom-width: 9px;
      border-left-width: 10px;
    }
  }

  &__after {
    font-size: rclamp(15, 24, 360, 1920);
    font-weight: 700;
    line-height: 1.5;
  }
}
