@use "../../global" as *;

.p-seminar-qa {
  padding: 100px 0;
  margin-top: 150px;
  background: $Bg-orange;

  @include mq($bp768) {
    padding: 0 0 50px;
    margin-top: 75px;
  }

  &__heading {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 260px;
    margin-bottom: 40px;

    @include mq($bp768) {
      min-height: 150px;
      margin-bottom: -10px;
    }
  }

  &__title {
    font-size: rclamp(22, 36, 360, 1920);
    text-align: center;
  }

  &__image {
    position: absolute;
    bottom: 30px;
    @include mq($bp399) {
      bottom: 40px;
    }

    img {
      display: block;
      width: 100%;
      height: auto;
    }

    &--left {
      left: 17%;
      width: 140px;

      @include mq($bp768) {
        left: 0;
        width: 70px;
      }
      @include mq($bp399) {
        width: 47px;
      }
      @include mq($bp360) {
        width: 44px;
      }
    }

    &--right {
      right: 17%;
      width: 140px;

      @include mq($bp768) {
        right: 0;
        width: 65px;
      }
      @include mq($bp399) {
        width: 47px;
      }
      @include mq($bp360) {
        width: 44px;
      }
    }
  }

  &__list {
    max-width: 1100px;
    margin-inline: auto;
  }

  .c-qa-accordion {
    margin-top: 0;
    padding: 0;
    background: transparent;
  }

  .c-qa-accordion__answer-inner::after {
    content: none;
  }
}
