@use "../../global" as *;

.p-story-growth {
  margin-block: 120px;
  background: $color-white;

  @include mq($bp768) {
    margin-block: 60px;
  }

  &__inner {
    max-width: 1140px;
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;

    @include mq($bp768) {
      flex-direction: column;
      align-items: stretch;
      gap: 20px;
    }

    &--top {
      align-items: flex-start;
    }

    &--middle {
      margin-top: 100px;

      @include mq($bp768) {
        flex-direction: column-reverse;
        margin-top: 16px;
      }
    }
  }

  &__text {
    width: 49%;
    font-size: rclamp(15, 18, 360, 1920);
    font-weight: 500;
    line-height: 2.5;

    @include mq($bp768) {
      width: 100%;
      line-height: 2;
    }

    p {
      &:not(:first-child) {
        margin-top: 60px;
        @include mq($bp768) {
          margin-top: 0;
        }
      }
    }

    strong {
      font-weight: 700;
    }
  }

  &__gravity {
    width: 35%;
    max-width: 330px;
    margin-inline: auto;

    @include mq($bp768) {
      width: 100%;
      max-width: 220px;
    }

    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  &__steps {
    margin-top: 100px;
    overflow: hidden;

    @include mq($bp768) {
      margin-left: calc(50% - 50vw);
      margin-right: calc(50% - 50vw);
      margin-top: 64px;
      padding: 0 4px;
    }

    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  &__deskwork {
    width: 45%;
    max-width: 410px;

    @include mq($bp768) {
      width: 100%;
      max-width: 40%;
      margin-inline: auto;
    }
    @include mq($bp640) {
      max-width: 220px;
    }

    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  &__row {
    &--bottom {
      margin-top: 100px;
      align-items: flex-end;

      @include mq($bp768) {
        margin-top: 45px;
      }
    }
  }

  &__text {
    &--bottom {
      width: 48%;

      @include mq($bp768) {
        width: 100%;
      }
    }
  }

  &__trouble {
    width: 48%;

    @include mq($bp768) {
      width: 100%;
      max-width: 60%;
      margin-inline: auto;
    }
    @include mq($bp640) {
      max-width: 350px;
    }

    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
}
