@use "../../global" as *;

.p-story-natural {
  padding-block: 90px;
  background: $Bg-orange;

  @include mq($bp768) {
    padding-block: 45px;
  }

  &__inner {
    max-width: 1160px;
  }

  &__title {
    font-size: rclamp(22, 40, 360, 1920);
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 60px;
    margin-top: 30px;

    @include mq($bp768) {
      flex-direction: column;
      gap: 24px;
      margin-top: 16px;
    }
  }

  &__text {
    width: 52%;
    font-size: rclamp(15, 18, 360, 1920);
    font-weight: 500;
    line-height: 2.5;

    @include mq($bp768) {
      width: 100%;
      line-height: 2;
    }

    p {
      &:not(:first-child) {
        margin-top: 24px;
      }
    }

    &--bottom {
      width: 45%;

      @include mq($bp768) {
        width: 100%;
      }
    }
  }

  &__care {
    width: 40%;
    max-width: 440px;

    @include mq($bp768) {
      width: 100%;
    }

    @include mq($bp640) {
      max-width: 200px;
    }

    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 50px;
    margin-top: 60px;

    @include mq($bp768) {
      flex-direction: column-reverse;
      gap: 20px;
    }
    @include mq($bp640) {
      margin-top: 30px;
    }
  }

  &__walk {
    width: 35%;
    max-width: 330px;

    @include mq($bp768) {
      width: 100%;
    }
    @include mq($bp640) {
      max-width: 160px;
    }

    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
}
