@use "../../global" as *;

.p-story-hero {
  margin-top: 120px;
  background: $color-white;

  @include mq($bp768) {
    margin-top: 60px;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;

    @include mq($bp768) {
      flex-direction: column;
    }
  }

  &__content {
    width: 45%;

    @include mq($bp768) {
      width: 100%;
    }
  }

  &__title {
    font-size: rclamp(22, 36, 360, 1920);
    line-height: 1.95;

    @include mq($bp768) {
      line-height: 1.75;
    }
  }

  &__image {
    width: 55%;

    @include mq($bp768) {
      width: 100%;
    }

    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
}
