@use "../../global" as *;

.p-traffic-symptom {
  padding: 120px 0;
  background: $Bg-orange;

  @include mq($bp768) {
    padding: 60px 0;
  }

  &__inner {
    max-width: 900px;
    margin-inline: auto;
    text-align: center;
  }

  &__title {
    width: fit-content;
    margin-inline: auto;
    padding: 6px 28px;
    background: #fdecb2;
    font-size: rclamp(20, 36, 360, 1920);
    text-align: center;

    @include mq($bp768) {
      padding: 5px 16px;
    }

    @include mq($bp360) {
      padding: 5px 13px;
    }
  }

  &__lead {
    margin-top: 55px;
    font-size: rclamp(16, 26, 360, 1920);
    line-height: 1.8;

    @include mq($bp768) {
      margin-top: 24px;
    }
  }

  &__list {
    margin-top: 70px;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 70px 50px;
    list-style: none;

    @include mq($bp768) {
      margin-top: 40px;
      grid-template-columns: repeat(2, 1fr);
      gap: 40px 0;
    }
  }

  &__item {
    img {
      width: 100%;
      max-width: 240px;
      height: auto;
      display: block;
      margin-inline: auto;

      @include mq($bp768) {
        max-width: 150px;
      }
      @include mq($bp414) {
        max-width: 135px;
      }
    }

    p {
      margin-top: 10px;
      font-size: rclamp(14, 20, 360, 1920);
      line-height: 1.5;
    }

    span {
      font-size: 0.9em;
    }
  }
}
