@use "../../global" as *;

.c-breadcrumb {
  border-bottom: 1px solid #cccccc;

  &__list {
    display: flex;
    align-items: center;
    min-height: 40px;
    padding-left: 4%;
  }

  &__item {
    font-size: 12px;
    line-height: 1;

    a {
      color: $color-black;
      transition: opacity 0.3s ease;

      @media (hover: hover) {
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}
