@use "../../global" as *;

.c-point-section {
  padding: 120px 0;
  background: $Bg-orange;

  @include mq($bp768) {
    padding: 60px 0;
  }

  &__title {
    font-size: rclamp(22, 50, 360, 1920);
    line-height: 1.5;
    text-align: center;

    span {
      font-size: rclamp(35, 70, 360, 1920);
      line-height: 1;
      color: $color-orange;
    }
  }

  &__list {
    max-width: 900px;
    margin: 64px auto 0;
    display: grid;
    gap: 48px;

    @include mq($bp768) {
      margin-top: 40px;
      gap: 32px;
    }
  }
}

.c-point-card {
  padding: 18px 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  background: $color-white;

  @include mq($bp768) {
    padding: 8px 16px 24px;
    flex-direction: column;
    align-items: stretch;
  }

  &__content {
    width: 68%;

    @include mq($bp768) {
      width: 100%;
    }
  }

  &__head {
    margin-inline: -12px;
    padding: 0 12px 8px;
    border-bottom: 2.4px solid $color-orange;
    color: $color-orange;
    line-height: 1;

    span {
      font-size: rclamp(18, 24, 360, 1920);
      letter-spacing: 0.08em;
    }

    strong {
      font-size: rclamp(30, 40, 360, 1920);
      margin-left: 5px;
    }
    &--2line {
      margin-top: -2em;
      @include mq($bp768) {
        margin-top: 0;
      }
    }

    &--3line {
      margin-top: -0.5em;
      @include mq($bp768) {
        margin-top: 0;
      }
    }
  }

  &__text {
    font-size: rclamp(16, 25, 360, 1920);
    font-weight: 500;
    margin-top: 12px;
    @include mq($bp768) {
      margin-top: 5px;
    }
  }

  &__image {
    width: 29%;
    flex-shrink: 0;

    @include mq($bp768) {
      width: 100%;
      max-width: 320px;
      margin-inline: auto;
    }

    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
}
