@use "../../global" as *;

.c-sub-fv {
  position: relative;
  background: $color-orange;
  overflow: hidden;

  &__inner {
    position: relative;
    min-height: 480px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include mq($bp768) {
      min-height: 300px;
    }
    @include mq($bp640) {
      min-height: 250px;
    }
  }

  &__mark {
    position: absolute;
    top: 50%;
    left: 30%;
    max-width: 400px;
    width: 100%;
    transform: translate(-50%, -50%);
    opacity: 0.7;

    @include mq($bp1499) {
      left: 25%;
      width: 30%;
    }

    @include mq($bp899) {
      width: 40%;
    }
    @include mq($bp768) {
      width: 30%;
    }
    @include mq($bp640) {
      width: 45%;
    }

    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  &__title {
    position: relative;
    z-index: 1;
    color: $color-white;
    font-size: rclamp(30, 66, 360, 1920);
    line-height: 1.4;
    text-align: center;
  }
}
