@use "../../global" as *;

.c-traffic-qa {
  margin-top: 40px;
  padding: 120px 0;
  background: $Bg-orange;

  @include mq($bp768) {
    margin-top: 0;
    padding: 40px 0 60px;
  }

  &__inner {
    max-width: 1100px;
    margin-inline: auto;
  }

  &__item {
    position: relative;
    padding: 40px 50px 70px;
    background: $color-white;
    overflow: hidden;

    &::after {
      content: "A";
      position: absolute;
      right: 46px;
      bottom: -36px;
      color: #f1f1f1;
      font-size: rclamp(140, 210, 360, 1920);
      line-height: 1;
      z-index: 0;
      pointer-events: none;
    }

    &:not(:first-child) {
      margin-top: 36px;
    }

    @include mq($bp768) {
      padding: 25px 12px 30px;

      &::after {
        right: 12px;
        bottom: -24px;
        font-size: 135px;
      }
    }
  }

  &__question {
    position: relative;
    z-index: 1;
    padding-bottom: 1rem;
    text-indent: -3.1em;
    padding-left: 3em;
    border-bottom: 3px solid $color-orange;
    font-size: rclamp(15, 30, 360, 1920);
    line-height: 1.5;
    color: #333;

    span {
      font-size: rclamp(20, 42, 360, 1920);
      line-height: 1;
      color: $color-orange;
      margin-right: 14px;
      @include mq($bp768) {
        margin-right: 6px;
      }
    }

    @include mq($bp768) {
      text-indent: -3em;
      padding-bottom: 12px;
    }
  }

  &__answer {
    position: relative;
    z-index: 1;
    margin-top: 24px;
    @include mq($bp768) {
      margin-top: 15px;
    }

    p {
      font-size: rclamp(14, 20, 360, 1920);
      line-height: 2;
      font-weight: 500;
    }
  }
}
