@use "../global" as *;

.l-header {
  width: 100%;
  background: $color-white;

  &__inner {
    height: 120px;
    padding-inline: 28px;
    display: flex;
    align-items: center;
    @include mq($bp1024) {
      height: 115px;
      padding: 4px 12px;
    }
    @include mq($bp768) {
      height: 115px;
      padding: 4px 20px;
    }
    @include mq($bp640) {
      height: 85px;
      padding: 4px 8px;
    }
    @include mq($bp399) {
      padding: 4px;
    }
    @include mq($bp330) {
      padding: 3px;
    }
  }
}
